<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel= "stylesheet" href = "css/headers.css">
<link rel= "stylesheet" href = "css/style.css">
<meta charset="UTF-8">
<title>Sergio Garcia Resume</title>
</head>

<body>
<!--heading-->
<div class="container">
  <div class="page-header">
    <h1>Sergio Garcia</h1>  
    <h3>Resume</h3>
  </div>
  <p>garcia.serg92@gmail.com  |  cell: 562-212-2864. | Long Beach, CA.</p>      
  
<!--image-->
<div>
<img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236"> 
</div>

<!--objective-->
<div>
<h3 id="obj">Objective</h3>
  <p>Graduating student looking to secure full time position in the technology industry with increasing responsibility and opportunities to collaborate across multiple disciplines.</p>
</div>

<!--education-->
<div>
<h3 id="obj">Education</h3>
  <p><b>CALIFORNIA STATE UNIVERSITY LONG BEACH – LONG BEACH, CA</b></p>
  <ul><li>Bachelor of Science in Computer Science – Anticipated Graduation: May 2017</li></ul>
</div>

<!--technical summary -->
<div>
<h3 id="obj">Technical Summary</h3>
</div>
  
  <div ng-app="myApp" ng-controller="myCtrl">
    <b>Language and Skills</b>
      <p>Proficient in:<p><ul  style="list-style-type:none"><li ng-repeat="language in languages"> {{ language }}</li></ul>
      <p>Familiar with:<p><ul  style="list-style-type:none"><li ng-repeat="language in familiarLanguages"> {{ language }}</li></ul>
      <p>Knowledgeable in:<p><ul  style="list-style-type:none"><li ng-repeat="language in familiarLanguages"> {{ language }}</li></ul>
  </div>
  
  <div>
    <b>Professional Projects</b>
    <ul>
      Website for CSULB IEEE Green Energy Conference
      <li>Under the direction of a CSULB Department lead, updated and modularized website 
        using WordPress for the Electrical Engineering Department.
      </li>
    </ul>
  </div>
  
  <div>
    <b>Personal Projects</b>
    <ul>
      Music Player
      <li>Designed and coded a Music Player in Java with database for storing/playing songs
      <li>Worked in a team of two</li>
      Event Share
      <li>Web Application programmed in HTML, PHP, CSS, JavaScript</li>
      <li>Application for planning small events amongst groups of friends</li>
      <li>Used Scrum Methodology in a team of four</li>
      Time Capsule
      <li>Web application programmed in HTML, PHP, CSS, JavaScript</li>
      <li>Application for creating digital time capsule to store media and to be opened at a later date</li>
      <li>Uses Google Calendar API</li>
      <li>Used Scrum Methodology in a team of four</li>
      Magic Mirror
      <li></li>
    </ul>
  </div>
  
  
<!--related work-->
<div>
<h3 id="obj">Related Work Experience</h3>
</div>


<!--unrelated work-->
<div >
<h3 id="obj">Unrelated Work Experience</h3>
</div>
 
</div> <!-- end container -->
<script>
  var app =  angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
     $scope.languages = [
       "Java","C#","JavaScript","PHP","MySQL","HTML","JQuery","CSS","Agile Methodology","Jira",
       ]
    $scope.familiarLanguages = [
      "C++","Python","JSON","AJAX","ASP.Net","Node.js","Angular.js","Android Development",
      ]
    $scope.skills=[
      "Web Development","Application Developement","Hardware Testing","Debugging"
      ]
  });
</script>
</body>
</html>
